<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

	<!-- Development环境设定 -->
	<beans profile="development">
		<!-- datasource  -->
		<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer" >
			<property name="locations" value="classpath:properties/application_development.properties" />
		</bean>
	</beans>

	<!-- FunctionalTest环境设定 -->
	<beans profile="functional">
		<!-- datasource  -->
		<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
			<property name="locations" value="classpath:properties/application_functional.properties" />
		</bean>
	</beans>

	<!-- Production环境设定 -->
	<beans profile="production">
		<!-- datasource  -->
		<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
			<property name="locations" value="classpath:properties/application_production.properties" />
		</bean>
	</beans>
	
	<beans>
		<!-- MasterDataSource -->
		<bean id="dataSource_master" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
			<property name="driverClassName" value="${jdbc.driver}" />
			<property name="url" value="${jdbc.url}" />
			<property name="username" value="${jdbc.username}" />
			<property name="password" value="${jdbc.password}" />
			<property name="defaultAutoCommit" value="false" />
			<property name="maxActive" value="${jdbc.maxActive}"></property>
			<property name="maxIdle" value="${jdbc.maxIdle}"></property>
			<property name="minIdle" value="${jdbc.minIdle}"></property>
			<property name="maxWait" value="${jdbc.maxWait}"></property>
			<property name="testWhileIdle" value="${jdbc.testWhileIdle}"></property>
			<property name="timeBetweenEvictionRunsMillis" value="${jdbc.timeBetweenEvictionRunsMillis}"></property>
			<property name="validationQuery" value="${jdbc.validationQuery}"></property>
			<property name="testOnBorrow" value="false"></property>
			<property name="testOnReturn" value="false"></property>
		</bean>
		
		<!-- MasterSqlSessionFactory -->
		<bean id="masterSqlSessionFactoryBean" class="org.mybatis.spring.SqlSessionFactoryBean">
			<!-- datasource -->
			<property name="dataSource" ref="dataSource_master" />
			<!-- map -->
			<property name="mapperLocations" value="classpath:sqlmap/*/master/*Mapper.xml" />
		</bean>
		
		<!-- 事务 -->
		<bean name="transactionManager"
			class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
			<property name="dataSource" ref="dataSource_master"></property>
		</bean>
		<bean id="transactionInterceptor" class="org.springframework.transaction.interceptor.TransactionInterceptor">
			<property name="transactionManager" ref="transactionManager" />
			<property name="transactionAttributes">
				<props>
					<prop key="insert*">PROPAGATION_REQUIRED, -Exception</prop>
					<prop key="update*">PROPAGATION_REQUIRED, -Exception</prop>
					<prop key="delete*">PROPAGATION_REQUIRED, -Exception</prop>
					<prop key="select*">PROPAGATION_SUPPORTS,readOnly, -Exception</prop>
					<prop key="get*">PROPAGATION_SUPPORTS,readOnly, -Exception</prop>
					<prop key="find*">PROPAGATION_SUPPORTS,readOnly, -Exception</prop>
					<prop key="search*">PROPAGATION_SUPPORTS,readOnly, -Exception</prop>
				</props>
			</property>
		</bean>
		
		<bean class="org.springframework.aop.framework.autoproxy.BeanNameAutoProxyCreator">
			<property name="interceptorNames">
				<list>
					<value>transactionInterceptor</value>
				</list>
			</property>
			<property name="beanNames">
				<list>
					<value>*ServiceImpl</value>
				</list>
			</property>
		</bean>
		
		<!-- messageresource定義 -->
		<bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
			<!-- message不存在时，使用messageCode -->
			<property name="useCodeAsDefaultMessage" value="true" />
			<!-- message定义文件位置 -->
			<property name="basenames">
				<list>
					<value>i18n/message/MessageResources</value>
				</list>
			</property>
		</bean>

		<!-- messageAccessor -->
		<bean class="ustc.yzwx.common.core.i18n.I18nMessageAccessor" scope="singleton" />
	
		<!-- log -->
		<bean id = "FWLogger"  class="ustc.yzwx.common.core.util.FWLogger" scope="singleton" />
		
		<bean id = "messageUtil"  class="ustc.yzwx.common.core.util.MessageUtil" scope="singleton" />
		
		<!-- MasterDao Scan-->
		<bean id="mapperScaner_master" class="org.mybatis.spring.mapper.MapperScannerConfigurer" >
			<property name="basePackage" value="ustc.yzwx.integration" />
			<property name="annotationClass" value="ustc.yzwx.common.integration.dao.annotation.DaoMaster"/>
			<property name="sqlSessionFactoryBeanName" value="masterSqlSessionFactoryBean" />
		</bean>
		
		<!-- Service Scan -->
		<context:component-scan base-package="ustc.yzwx.business"  use-default-filters="false">
			<context:include-filter type="annotation" expression="org.springframework.stereotype.Service" />
		</context:component-scan>

		<!-- 继承自AuthorizingRealm的自定义Realm,即指定Shiro验证用户登录的类为自定义的ShiroDbRealm.java -->
		<bean id="yzwxRealm" class="ustc.yzwx.presentation.realm.YzwxRealm">
			<!--验证方式-->
			<property name="credentialsMatcher">
				<bean class="org.apache.shiro.authc.credential.HashedCredentialsMatcher">
					<property name="hashAlgorithmName" value="MD5"></property>
					<property name="hashSalted" value="true" ></property>
					<property name="hashIterations" value="1" />
				</bean>
			</property>
		</bean>
		
		<bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">  
			<property name="realm" ref="yzwxRealm"/>
		</bean>
		
		<bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
			<!-- Shiro的核心安全接口,这个属性是必须的 -->
			<property name="securityManager" ref="securityManager"/>
			<!-- 要求登录时的链接(可根据项目的URL进行替换),非必须的属性,默认会自动寻找Web工程根目录下的"/login.jsp"页面 -->
			<property name="loginUrl" value="/"/>
			<!-- 用户访问未对其授权的资源时,所显示的连接 -->
			<property name="unauthorizedUrl" value="/"/>
			<property name="filterChainDefinitions">
				<value>
					/static/** = anon
					/login = anon
					/wechat/** = anon
					/mob/** = anon
					/** = authc
				</value>
			</property>
		</bean>
		
		<bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor" />
		
		<!-- 定时任务START -->
		<bean name="deleteWeSessionTask" class="ustc.yzwx.wechat.util.WeChatSession" >
		</bean>

		<bean id="methodInvokingJobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
			<property name="targetObject">
				<ref bean="deleteWeSessionTask" />
			</property>
		<property name="targetMethod">
			<value>Clear</value>
		</property>
	</bean>

	<!-- 配置触发器 -->
	<bean id="cronTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<!-- 这里不可以直接在属性jobDetail中引用closeQuestionTask，因为他要求的是一个jobDetail类型的对象，所以我们得通过MethodInvokingJobDetailFactoryBean来转一下 -->
		<property name="jobDetail">
			<ref bean="methodInvokingJobDetail" />
		</property>
		<property name="cronExpression">
			<!-- 触发时间 每天半夜三点 -->
			<value>0 0 3 * * ?</value>
			<!-- 10:24 -->
			<!-- <value>0 24 10 * * ?</value> -->
		</property>
	</bean>

	<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<!-- 添加触发器 -->
		<property name="triggers">
			<list>
				<ref bean="cronTrigger" />
			</list>
		</property>
	</bean>
	<!-- 定时任务END -->
	
	<bean id="regionMst" class="ustc.yzwx.common.core.util.RegionMst" lazy-init="false" init-method="setup" scope="singleton">
		<property name="regionService" ref="regionServiceImpl" />
	</bean>
	<bean id="schoolMst" class="ustc.yzwx.common.core.util.SchoolMst" lazy-init="false" init-method="setup" scope="singleton">
		<property name="schoolService" ref="schoolServiceImpl" />
	</bean>
	<bean id="majorMst" class="ustc.yzwx.common.core.util.MajorMst" lazy-init="false" init-method="setup" scope="singleton">
		<property name="majorService" ref="majorServiceImpl" />
	</bean>
	</beans>
</beans>