body {
    padding-top: 60px;
    padding-bottom: 40px;
    font-family: 微软雅黑;
}

.sidebar-nav {
    padding: 9px 0;
}

@media ( max-width : 980px) { /* Enable use of floated navbar text */
    .navbar-text.pull-right {
        float: none;
        padding-left: 5px;
        padding-right: 5px;
    }
}

.footer-links li{
	display: inline;
	padding: 0 2px;
}

/*message
-----------------------------------------------------------------------------------------------------------------------*/
.info1-3 {
	/*margin-left: 14px;*/
	/*margin-right: 14px;*/
	border: solid #CCC 1px;
	margin-bottom: 6px;
	padding-left: 10px;
	font-size: 12px;
	color: #F00;
}

.info1-3 li {
	list-style: none outside none;
}

.info3 {
	border: solid #CCC 1px;
	margin-bottom: 6px;
	padding-left: 10px;
	font-size: 12px;
	color: #F00;
	height: 62px;
	overflow-y: scroll;
}

.info1-3 ul {
	line-height: 20px;
}

.info3 ul {
	line-height: 20px;
	height: 60px;
}

.info3 ul li.liInfo,.info1-3 ul li.liInfo {
	color: #00F;
}