<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

	<!-- Development环境设定 -->
	<beans profile="development">
		<!-- datasource  -->
		<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer" >
			<property name="locations" value="classpath:properties/application_development.properties" />
		</bean>
	</beans>

	<!-- FunctionalTest环境设定 -->
	<beans profile="functional">
		<!-- datasource  -->
		<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
			<property name="locations" value="classpath:properties/application_functional.properties" />
		</bean>
	</beans>

	<!-- Production环境设定 -->
	<beans profile="production">
		<!-- datasource  -->
		<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
			<property name="locations" value="classpath:properties/application_production.properties" />
		</bean>
	</beans>
	
	<beans>
		<!-- MasterDataSource -->
		<bean id="dataSource_master" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
			<property name="driverClassName" value="${jdbc.driver}" />
			<property name="url" value="${jdbc.url}" />
			<property name="username" value="${jdbc.username}" />
			<property name="password" value="${jdbc.password}" />
			<property name="defaultAutoCommit" value="false" />
			<property name="maxActive" value="${jdbc.maxActive}"></property>
			<property name="maxIdle" value="${jdbc.maxIdle}"></property>
			<property name="minIdle" value="${jdbc.minIdle}"></property>
			<property name="maxWait" value="${jdbc.maxWait}"></property>
			<property name="testWhileIdle" value="${jdbc.testWhileIdle}"></property>
			<property name="timeBetweenEvictionRunsMillis" value="${jdbc.timeBetweenEvictionRunsMillis}"></property>
			<property name="validationQuery" value="${jdbc.validationQuery}"></property>
			<property name="testOnBorrow" value="false"></property>
			<property name="testOnReturn" value="false"></property>
		</bean>
		
		<!-- MasterSqlSessionFactory -->
		<bean id="masterSqlSessionFactoryBean" class="org.mybatis.spring.SqlSessionFactoryBean">
			<!-- datasource -->
			<property name="dataSource" ref="dataSource_master" />
			<!-- map -->
			<property name="mapperLocations" value="classpath:sqlmap/*/master/*Mapper.xml" />
		</bean>
		
		<!-- 事务 -->
		<bean name="transactionManager"
			class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
			<property name="dataSource" ref="dataSource_master"></property>
		</bean>
		<bean id="transactionInterceptor" class="org.springframework.transaction.interceptor.TransactionInterceptor">
			<property name="transactionManager" ref="transactionManager" />
			<property name="transactionAttributes">
				<props>
					<prop key="insert*">PROPAGATION_REQUIRED, -Exception</prop>
					<prop key="update*">PROPAGATION_REQUIRED, -Exception</prop>
					<prop key="delete*">PROPAGATION_REQUIRED, -Exception</prop>
					<prop key="select*">PROPAGATION_SUPPORTS,readOnly, -Exception</prop>
					<prop key="get*">PROPAGATION_SUPPORTS,readOnly, -Exception</prop>
					<prop key="find*">PROPAGATION_SUPPORTS,readOnly, -Exception</prop>
					<prop key="search*">PROPAGATION_SUPPORTS,readOnly, -Exception</prop>
				</props>
			</property>
		</bean>
		
		<bean class="org.springframework.aop.framework.autoproxy.BeanNameAutoProxyCreator">
			<property name="interceptorNames">
				<list>
					<value>transactionInterceptor</value>
				</list>
			</property>
			<property name="beanNames">
				<list>
					<value>*ServiceImpl</value>
				</list>
			</property>
		</bean>
		
		<!-- messageresource定義 -->
		<bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
			<!-- message不存在时，使用messageCode -->
			<property name="useCodeAsDefaultMessage" value="true" />
			<!-- message定义文件位置 -->
			<property name="basenames">
				<list>
					<value>i18n/message/MessageResources</value>
				</list>
			</property>
		</bean>

		<!-- messageAccessor -->
		<bean class="cn.achero.common.core.i18n.I18nMessageAccessor" scope="singleton" />
	
		<!-- log -->
		<bean id = "FWLogger"  class="cn.achero.common.core.util.FWLogger" scope="singleton" />
		
		<bean id = "messageUtil"  class="cn.achero.common.core.util.MessageUtil" scope="singleton" />
		
		<!-- MasterDao Scan-->
		<bean id="mapperScaner_master" class="org.mybatis.spring.mapper.MapperScannerConfigurer" >
			<property name="basePackage" value="cn.achero.integration" />
			<property name="annotationClass" value="cn.achero.common.integration.dao.annotation.DaoMaster"/>
			<property name="sqlSessionFactoryBeanName" value="masterSqlSessionFactoryBean" />
		</bean>
		
		<!-- Service Scan -->
		<context:component-scan base-package="ustc.yzwx.business"  use-default-filters="false">
			<context:include-filter type="annotation" expression="org.springframework.stereotype.Service" />
		</context:component-scan>


	</beans>
</beans>